#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* border: 5px solid purple; */
}

:root {
  --background-color: #f0f0f0;
  --text-color: #000;
  --table-header-bg: #ddd;
  --table-cell-bg: #fff;
  --table-cell-alt-bg: #f9f9f9; 
  --delete-color: red;
  --refresh-color: olive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1c;
    --text-color: #fff;
    --table-header-bg: #333;
    --table-cell-bg: #222;
    --table-cell-alt-bg: #2a2a2a; 
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* border: 5px solid green; */
}

table {
  border-collapse: collapse;
  /* border: 5px solid pink; */
}

th, td {
  border: 1px solid #444;
  padding: 5px;
  text-align: center;
}

th {
  background-color: var(--table-header-bg);
}

td {
  background-color: var(--table-cell-bg);
}

tr:nth-child(even) td {
  background-color: var(--table-cell-alt-bg);
}

/* th, td {
  min-width: 100px;
} */

td.num {
  text-align: right;
  min-width: 50px;
}

td span.delete {
  cursor: pointer;
  color: var(--delete-color);
}

td span.refresh {
  cursor: pointer;
  color: var(--refresh-color);
}

td span:hover {
  text-decoration: underline;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative; /* Ensure relative positioning for dropdown alignment */
}

.pagination {
  display: flex;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--table-cell-bg);
  border-radius: 3px;
}

.pagination button.active {
  background-color: var(--table-cell-alt-bg);
  border: solid 1px var(--text-color);
  color: white;
}

.items-per-page {
  position: absolute; /* Absolute positioning to align dropdown to the right */
  right: 0;
}

.site-title {
  font-size: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  
  position: fixed;
  top: 0;
  /* width: 100%; */
  /* border: 5px solid coral; */
}

nav ul {
  padding: 0;
  margin-left: auto;
  /* border: 5px solid blue; */
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}


.net-wealth {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group input,
.form-group select,
.form-group label {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.form-group a {
  color: #1e90ff;
  text-decoration: none;
  display: block;
  margin-top: 5px;
}