#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --background-color: #f0f0f0;
  --text-color: #000;
  --table-header-bg: #ddd;
  --table-cell-bg: #fff;
  --table-cell-alt-bg: #f9f9f9; 
  --delete-color: red;
  --refresh-color: olive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1c;
    --text-color: #fff;
    --table-header-bg: #333;
    --table-cell-bg: #222;
    --table-cell-alt-bg: #2a2a2a; 
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #444;
  padding: 5px;
  text-align: center;
}

th {
  background-color: var(--table-header-bg);
}

td {
  background-color: var(--table-cell-bg);
}

tr:nth-child(even) td {
  background-color: var(--table-cell-alt-bg);
}

/* th, td {
  min-width: 100px;
} */

td span#delete {
  cursor: pointer;
  color: var(--delete-color);
}

td span#refresh {
  cursor: pointer;
  color: var(--refresh-color);
}

td span:hover {
  text-decoration: underline;
}
